/*@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}*/
.root {
    -fx-font-family:"Microsoft YaHei";
    -fx-font-size:14px;
    -fx-text-fill:#333;
}
.text-area,.text-area:focused{-fx-background-radius: 0;-fx-background-insets: -0.1, 1, 1;}
.text-field{ -fx-background-color:#fff;-fx-background-insets: 0;-fx-background-radius: 0;}
.text-field{
    -fx-border-width:1px;
    -fx-border-color:-fx-text-box-border;
 }
 .button{
	-fx-border-radius:0;
	-fx-background-radius:0;
}
/* tabpane */
.tab-pane{-fx-background-color: #fff;}
.tab-pane >*.tab-header-area>*.tab-header-background
{
    -fx-background-color:transparent;
    -fx-border-width:0 0 1px 0;
    -fx-border-color:#ccc;
}
.tab-pane:top > .tab-header-area {
    -fx-padding: 0.416667em 0.166667em 0.0em 0; /* 5 2 0 10 */
}
/* tab文本颜色 */
.tab-label {
    -fx-text-fill: #666; 
    -fx-font-size:12px;
}
/* 子代选择器，Tab选中的时候选择其子元素tab-label */
.tab:selected .tab-label {
    -fx-text-fill: #333;
}
.tab{
	-fx-border-width:0;
	-fx-border-radius: 0px;
	-fx-background-color: #fff;
	-fx-background-radius:0;
}
/* tab选中时设置背景颜色 */
.tab:selected {
    -fx-background-color: #fff;
    -fx-border-radius: 0px;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #5CB85C;
}
/* Tab选中的时候选中其边框并修改样式 */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 0;
    -fx-text-fill:#333;
}
.tab-pane > .tab-content-area{-fx-padding:10px;}

.combo-box-base  {
    -fx-background-color: #fff;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width:1px;
    -fx-border-color:#ccc;
}

.spinner {
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width:1px;
    -fx-border-color:#ccc;
}
.spinner:focused,
.spinner:contains-focus {
    -fx-background-color:#fff;
    -fx-background-insets:0;
    -fx-background-radius:0;
}
.spinner > .text-field {
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width:0;
}
.spinner .increment-arrow-button {
    -fx-background-color: #f5f5f5;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.333em 0.666em 0.333em 0.666em; /* 4 8 4 8 */
}
.spinner .decrement-arrow-button {
    -fx-background-color: #f5f5f5;
    -fx-background-insets: 0;
    -fx-background-radius:0;
    -fx-padding: 0.250em 0.666em 0.5em 0.666em; /* 3 8 6 8 */
}

#mainTab > .tab-header-area > .tab-header-background{
    -fx-background-color:#f5f5f5;
    -fx-border-width:0;
}
#mainTab > .tab-header-area > .headers-region > .tab{
	-fx-background-color: #eee;
}
#mainTab > .tab-content-area{-fx-padding:15px;}
#mainTab>.tab-header-area> .headers-region >.tab:selected {
    -fx-border-width: 3px 0 0 0;
    -fx-background-color: #fff;
}

.jfx-decorator {
   /*-fx-decorator-color: derive(#5264AE, -20%);transparent*/
    -fx-decorator-color: #fff;
    -fx-background-color:#f6f6f6;
    -fx-fill: #333;
    -fx-text-fill:white;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: #333;
}

.jfx-decorator .resize-border {
    -fx-border-color: transparent;
    -fx-border-width: 0 2px;
}
/*
边框标题居中
.jfx-decorator .jfx-decorator-title-container{ -fx-alignment:CENTER;}#21b384 .exception-dialog .dialog-pane */

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
   -fx-text-fill:white;
   -fx-font-size: 12;
   -fx-font-family:Arial;
}
.jfx-decorator-button{
	-fx-background-color:transparent;
}

.file-field {-fx-border-width:0}
.file-field .button{-fx-border-width:1;-fx-border-color:#ccc;-fx-background-color:#f5f5f5;-fx-text-fill:#333}
.file-field .button:hover,.file-field .button:focused{-fx-background-color: #ddd;}

.flatBtn{
	-fx-text-fill:#fff;
	-fx-border-radius:0;
	-fx-background-radius:0;
	-fx-cursor: default;
	-fx-text-alignment: center;
	-fx-padding:5px 10px;
}

.flatBtn .glyph-font{-fx-text-fill:#fff;}

.btn-success{-fx-background-color:#5CB85C;}
.btn-success:hover{-fx-background-color:#459E45;}

.btn-primary{-fx-background-color:#337AB7;}
.btn-primary:hover,.btn-primary:focused{-fx-background-color: #2B6799}

.btn-info{-fx-background-color:#46b8da;}
.btn-info:hover,.btn-info:focused{-fx-background-color: #2292B3;}

.btn-warn{-fx-background-color:#F0AD4E;}
.btn-warn:hover,.btn-warn:focused{-fx-background-color: #ED9621;}

.btn-gray{-fx-background-color:#E0E0E0;-fx-text-fill:#333}
.btn-gray:hover,.btn-gray:focused{-fx-background-color: #ccc;-fx-text-fill:#333}

#btnKnow,#btnToolbox{-fx-padding:10px 5px;-fx-font-size: 18px;-fx-pref-width:150;-fx-max-width:150;/*-fx-pref-height:100px;-fx-max-height:100px;*/}

#lstViewTool{-fx-background-color:transparent;}
#lstViewTool .list-cell{-fx-background-color:transparent;-fx-cell-size:30} /*.cell.indexed-cell ,.btn-primary:focused*/
#lstViewTool .list-cell:selected{-fx-background-color:#fff;-fx-text-fill:#333;}
#lstViewTool .list-cell .glyph-font{-fx-label-padding:0 8px 0 0;-fx-text-fill:#333;}

.exception-dialog{-fx-font-size:12px;}
.exception-dialog .text-area{-fx-font-size:10px;}

#statusBar{
	-fx-background-color: #333;
	-fx-text-fill:#ccc; 
	-fx-pref-height:24px; 
	-fx-pref-width:1000;
	-fx-font-size:9px;
	-fx-padding:2px 10px;
}
.gitlink{-fx-text-fill:#999}
.gitlink:hover{-fx-text-fill:#ccc}


/*多行输入框字体样式
 * .text-area {-fx-font-size:14px;-fx-text-fill:red} */
.dialog-pane{-fx-border-color:#ccc;-fx-border-width: 1px;-fx-background-color:#fff;}
/*.dialog-pane .header-panel{-fx-border-color: black;-fx-border-width: 1px}
.dialog-pane .content {-fx-border-color: #ccc;-fx-border-width: 1px}
.dialog-pane .button-bar  {-fx-border-color: #666;-fx-border-width: 1px}
 */
/* plugin style */
#qrcodeBox{-fx-border-color:#ccc;-fx-border-width: 1px;}
#qrcodeBox .label{-fx-text-fill:#999}
#barcodeBox{
	-fx-border-width: 1px;
    -fx-border-color: #ccc;
    -fx-background-color:#fff;
  }
#btnCreate{-fx-pref-width:100;-fx-pref-height:32px;}
#lblbarcodeParser{-fx-graphic:url(/images/scanning.png);}
.valid_warning_tip,.valid_info_tip,.valid_error_tip{
	-fx-effect: dropshadow(three-pass-box, rgba(180,180,180,0.5), 2, 0, 0, 2);
	-fx-padding: 5; 
	-fx-border-width:1;
}
.valid_error_tip{-fx-background-color: #FBEFEF; -fx-text-fill: #cc0033; -fx-border-color:#ec7272;}
.valid_warning_tip{-fx-background-color: #FFFFCC; -fx-text-fill: #CC9900; -fx-border-color: #CC9900;}
.valid_info_tip{-fx-background-color: #c4d0ef; -fx-text-fill: #FFFFFF; -fx-border-color: #a8c8ff;}


