<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>devAide</contextName>
	<property name="logDir" value="logs" />
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDir}/log.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logDir}/log%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<maxFileSize>30MB</maxFileSize>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<root level="${log.level}">
		<appender-ref ref="console" /> 
		<appender-ref ref="rollingFile" />
	</root>

</configuration>